{% extends "base.html" %}

{% block page_name %}Home{% endblock page_name %}


{% block content %}

    {% for room in rooms %}
        <h1>{{room.name}} / ${{room.price}}</h1>
    {% endfor %}

    <h5>Page {{page}} of {{page_count}}</h5>

    {% if page is not 1 %}
        <a href="?page={{page|add:-1}}">previous</a>
    {% endif %}

    {% for page in page_range %}
        <a href="?page={{page}}">{{page}}</a>
    {% endfor %}

    {% if not page == page_count %}
        <a href="?page={{page|add:1}}">next</a>
    {% endif %}

{% endblock content %}

