{% extends "base.html" %}

{% block page_name %}Search{% endblock page_name %}

<!-- header에서 가져온 search form -->
{% block search-bar %}
{% endblock %}

{% block content %}

    <h2>Search!</h2>

    <form action="{% url "rooms:search" %}">
        {{form.as_p}}
        <button>Search</button>

        <div>
            <h3>Result</h3>
            {% for room in rooms %}
                <h4>{{room.name}}</h4>
            {% endfor %}
        </div>
    </form>

    {% load rooms_extras %}

    {% if rooms.has_previous %}
        <a href="{% my_url rooms.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
    {% endif %}

    Page {{rooms.number}} of {{rooms.paginator.num_pages}}

    {% for p in rooms.paginator.page_range %}
        <a href="{% my_url p 'page' request.GET.urlencode %}">{{p}}</a>
    {% endfor %}

    {% if rooms.has_next %}
        <a href="{% my_url rooms.next_page_number 'page' request.GET.urlencode %}">Next</a>
    {% endif %}

{% endblock %}