{% extends "base.html" %}

{% block page_name %}Log In{% endblock page_name %}

{% block search-bar %}
{% endblock %}

{% block content %}

    <div class="container mx-auto flex flex-col items-center border my-10 p-6 border-gray-400 lg:w-5/12 md:w-1/2 xl:w-1/4">

        {% include 'partials/social_login.html' %}


        <form method="POST" action="{% url 'users:login' %}" class="w-full">
            {% csrf_token %}
            {{form.email}}
            {{form.password}}
            <button class="btn bg-red-400 text-white">Login</button>
        <form>

        <div class="mt-5 flex justify-center">
            <span class="mr-3">Don't have an accoutn?</span>
            <a href="{% url 'users:signup' %}" class="font-medium text-green-400">Sign Up</a>
        </div>
        
    </div>

{% endblock %}